[General]
Name=Ember
ColorScheme=Ember
shadeSortColumn=true

[Colors:Window]
BackgroundNormal=${COLOR_BG_RGB}
BackgroundAlternate=${COLOR_BG_ALT_RGB}
ForegroundNormal=${COLOR_FG_RGB}
ForegroundInactive=${COLOR_FG_MUTED_RGB}
ForegroundActive=${COLOR_ACCENT_RGB}
ForegroundLink=${COLOR_ACCENT_ALT_RGB}
ForegroundVisited=${COLOR_MAUVE_RGB}
ForegroundNegative=${COLOR_CRITICAL_RGB}
ForegroundNeutral=${COLOR_WARN_RGB}
ForegroundPositive=${COLOR_SUCCESS_RGB}
DecorationFocus=${COLOR_ACCENT_RGB}
DecorationHover=${COLOR_ACCENT_ALT_RGB}

[Colors:View]
BackgroundNormal=${COLOR_BG_SURFACE_RGB}
BackgroundAlternate=${COLOR_BG_RGB}
ForegroundNormal=${COLOR_FG_RGB}
ForegroundInactive=${COLOR_FG_MUTED_RGB}
ForegroundActive=${COLOR_ACCENT_RGB}
ForegroundLink=${COLOR_ACCENT_ALT_RGB}
ForegroundVisited=${COLOR_MAUVE_RGB}
ForegroundNegative=${COLOR_CRITICAL_RGB}
ForegroundNeutral=${COLOR_WARN_RGB}
ForegroundPositive=${COLOR_SUCCESS_RGB}
DecorationFocus=${COLOR_ACCENT_RGB}
DecorationHover=${COLOR_ACCENT_ALT_RGB}

[Colors:Button]
BackgroundNormal=${COLOR_BG_SURFACE_RGB}
BackgroundAlternate=${COLOR_SURFACE2_RGB}
ForegroundNormal=${COLOR_FG_RGB}
ForegroundInactive=${COLOR_FG_MUTED_RGB}
ForegroundActive=${COLOR_ACCENT_RGB}
ForegroundLink=${COLOR_ACCENT_ALT_RGB}
ForegroundVisited=${COLOR_MAUVE_RGB}
ForegroundNegative=${COLOR_CRITICAL_RGB}
ForegroundNeutral=${COLOR_WARN_RGB}
ForegroundPositive=${COLOR_SUCCESS_RGB}
DecorationFocus=${COLOR_ACCENT_RGB}
DecorationHover=${COLOR_ACCENT_ALT_RGB}

[Colors:Selection]
BackgroundNormal=${COLOR_ACCENT_RGB}
BackgroundAlternate=${COLOR_ACCENT_ALT_RGB}
ForegroundNormal=${COLOR_BG_RGB}
ForegroundInactive=${COLOR_BG_ALT_RGB}
ForegroundActive=${COLOR_BG_RGB}
ForegroundLink=${COLOR_BG_SURFACE_RGB}
ForegroundVisited=${COLOR_BG_SURFACE_RGB}
ForegroundNegative=${COLOR_CRITICAL_RGB}
ForegroundNeutral=${COLOR_WARN_RGB}
ForegroundPositive=${COLOR_SUCCESS_RGB}
DecorationFocus=${COLOR_ACCENT_RGB}
DecorationHover=${COLOR_ACCENT_ALT_RGB}

[Colors:Tooltip]
BackgroundNormal=${COLOR_BG_ALT_RGB}
BackgroundAlternate=${COLOR_BG_RGB}
ForegroundNormal=${COLOR_FG_RGB}
ForegroundInactive=${COLOR_FG_MUTED_RGB}
ForegroundActive=${COLOR_ACCENT_RGB}
ForegroundLink=${COLOR_ACCENT_ALT_RGB}
ForegroundVisited=${COLOR_MAUVE_RGB}
ForegroundNegative=${COLOR_CRITICAL_RGB}
ForegroundNeutral=${COLOR_WARN_RGB}
ForegroundPositive=${COLOR_SUCCESS_RGB}
DecorationFocus=${COLOR_ACCENT_RGB}
DecorationHover=${COLOR_ACCENT_ALT_RGB}

[Colors:Complementary]
BackgroundNormal=${COLOR_BG_ALT_RGB}
BackgroundAlternate=${COLOR_BG_RGB}
ForegroundNormal=${COLOR_FG_RGB}
ForegroundInactive=${COLOR_FG_MUTED_RGB}
ForegroundActive=${COLOR_ACCENT_RGB}
ForegroundLink=${COLOR_ACCENT_ALT_RGB}
ForegroundVisited=${COLOR_MAUVE_RGB}
ForegroundNegative=${COLOR_CRITICAL_RGB}
ForegroundNeutral=${COLOR_WARN_RGB}
ForegroundPositive=${COLOR_SUCCESS_RGB}
DecorationFocus=${COLOR_ACCENT_RGB}
DecorationHover=${COLOR_ACCENT_ALT_RGB}

[Colors:Header]
BackgroundNormal=${COLOR_BG_ALT_RGB}
BackgroundAlternate=${COLOR_BG_RGB}
ForegroundNormal=${COLOR_FG_RGB}
ForegroundInactive=${COLOR_FG_MUTED_RGB}
ForegroundActive=${COLOR_ACCENT_RGB}
ForegroundLink=${COLOR_ACCENT_ALT_RGB}
ForegroundVisited=${COLOR_MAUVE_RGB}
ForegroundNegative=${COLOR_CRITICAL_RGB}
ForegroundNeutral=${COLOR_WARN_RGB}
ForegroundPositive=${COLOR_SUCCESS_RGB}
DecorationFocus=${COLOR_ACCENT_RGB}
DecorationHover=${COLOR_ACCENT_ALT_RGB}

[Colors:Header][Inactive]
BackgroundNormal=${COLOR_BG_RGB}
BackgroundAlternate=${COLOR_BG_ALT_RGB}
ForegroundNormal=${COLOR_FG_MUTED_RGB}
ForegroundInactive=${COLOR_OVERLAY0_RGB}
ForegroundActive=${COLOR_ACCENT_RGB}
ForegroundLink=${COLOR_ACCENT_ALT_RGB}
ForegroundVisited=${COLOR_MAUVE_RGB}
ForegroundNegative=${COLOR_CRITICAL_RGB}
ForegroundNeutral=${COLOR_WARN_RGB}
ForegroundPositive=${COLOR_SUCCESS_RGB}
DecorationFocus=${COLOR_ACCENT_RGB}
DecorationHover=${COLOR_ACCENT_ALT_RGB}

[WM]
activeBackground=${COLOR_BG_ALT_RGB}
activeForeground=${COLOR_FG_RGB}
inactiveBackground=${COLOR_BG_RGB}
inactiveForeground=${COLOR_FG_MUTED_RGB}
activeBlend=${COLOR_BG_ALT_RGB}
inactiveBlend=${COLOR_BG_RGB}
