/* GTK3 named-color overrides for Adwaita-dark. Loaded after the theme stylesheet. */

@define-color theme_bg_color ${COLOR_BG};
@define-color theme_fg_color ${COLOR_FG};
@define-color theme_base_color ${COLOR_BG_ALT};
@define-color theme_text_color ${COLOR_FG};
@define-color theme_selected_bg_color ${COLOR_ACCENT};
@define-color theme_selected_fg_color ${COLOR_BG};
@define-color theme_tooltip_bg_color ${COLOR_BG_SURFACE};
@define-color theme_tooltip_fg_color ${COLOR_FG};

@define-color insensitive_bg_color ${COLOR_BG};
@define-color insensitive_fg_color ${COLOR_FG_MUTED};
@define-color insensitive_base_color ${COLOR_BG_ALT};

@define-color borders ${COLOR_BORDER};
@define-color unfocused_borders ${COLOR_BORDER};
@define-color unfocused_theme_bg_color ${COLOR_BG};
@define-color unfocused_theme_fg_color ${COLOR_FG_MUTED};

@define-color warning_color ${COLOR_WARN};
@define-color error_color ${COLOR_CRITICAL};
@define-color success_color ${COLOR_SUCCESS};
