[SddmGreeterTheme]
Name=Arche
Description=Minimal, modern SDDM theme for arche (Ember palette)
Author=arche
License=MIT
Type=sddm-theme
Version=1.0
Theme-Id=arche
Theme-API=2.0
MainScript=Main.qml
ConfigFile=theme.conf
